= simple_form_for(@item) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description, label: "afb"
    = f.file_field :avatar
    = f.input :published
    = f.input :reference
    = f.input :item_type_id
    = f.input :completed
    = f.input :archived
    = f.input :archived_at

  .form-actions
    = f.button :submit
